@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto')
}

.body {
    background-color: #F2F1E8;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.header {
    background-color: #FFFFFF;
    text-transform: uppercase;
}

.nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    border: 2px solid black;
    padding: 15px;
}

.logo { 
    width: 35px;
    height: 35px;
    border: 2px solid black;
}

.header-list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 400px;
    border: 2px solid black;
    text-align: center;
   
}

.header-item {
    border: 2px solid black;
    margin: 0px 30px 0px 30px;
    display: inline-block;
}

nav a {
    text-decoration: underline;
    color: #2B2F26;
}

nav a:hover {
    color: #CD5D67;
}

nav a:active {
    color: #968772;
}

section {
    border: 2px solid black;
    margin: 0 75px 0 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}





