/* @font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css?family=Roboto')
} 

FONT FACE NOT WORKING */

.body {
    background-color: #F2F1E8;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    border: 5px solid black
}

.header {
    background-color: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    background: 2px solid black;
    padding: 0;
    margin: 0;
}

.logo-box {
    padding: 1.5vh;
    width: 35px;
    height: 35px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    border: 2px solid black;
    padding: 2vh;
    margin: 0;
    font-size: .8em;
}

.header-list {
    list-style-type: none;
    padding: 0;
    margin: 1vh 30vw;
    border: 2px solid black;
    text-align: center;
   
}

.header-item {
    border: 2px solid black;
    margin: 0px 25px 0px 25px;
    padding: 0;
    display: inline-block;
}

nav a {
    text-decoration: underline;
    color: #2B2F26;
}

nav a:hover {
    color: #CD5D67;
}

nav a:active {
    color: #968772;
}

.section1 {
    border: 2px solid black;
    margin: 0vw 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

.birdhouse {
    float: left;
}

p {
    font-size: 1.2em;
    margin: .5% 0 .5% 0;
}

h2 {
    padding: 0;
    margin: .5% 0 .5% 0;
}

.quote {
    border: 2px solid black;
    padding: .5% .5% .5% 1.5%;
}

.cactusbox {
    position: relative;
    width: 100%;
    padding: 0;
    margin: .5% 0 .5% 0;
}

.cactustxt {
    color: white;
    position: absolute;
    top: 40%;
    left: 45%;
    font-weight: lighter;
}

.section2 {
    border: 2px solid black;
    margin: 0vw 20vh;
    display: flex;
    flex-direction: row;
}

aside {
    border: 2px solid black;
    margin: 0 0 0 2%;
}


.asidetxt {
    font-size: .8em;
}

.shelfspace {
    margin: 1%;
